﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Topic2Chat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body style="margin: 0;">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <h3 class="navbar-brand mb-0">
                        <a asp-action="GroupList" asp-controller="Home" class="text-white">Topic2Chat</a>
                    </h3>
                </div>
            </nav>
        </header>
    <div class="container vh-100">
        <main role="main" class="pb-3 vh-100">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/signalr.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
