﻿@model string
@{
    ViewData["Title"] = "Home Page";
}


<div class="container d-flex flex-column mt-5 mb-5">
    <h1 class="text-center">Welocme to group chat @Model</h1>
    <ul id="chat" class="list-group">
    </ul>

        <div class="fixed-bottom bg-dark p-2">
            <div class="d-flex container align-items-center">
                <input id="message" class="form-control me-2" type="text" name="message" placeholder="Message">
                <button id="submitMessage" class="btn btn-light ml-5 w-25" type="submit">Submit Message</button>
            </div>
        </div>
</div>


@section Scripts {
    <script>

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/Home/topic2ChatHub")
            .build();

        connection.on("SingleGroupChat", (data) => {
            var { MessageContent, ToChat, User, WhenMessagePosted } = JSON.parse(data);
            console.log(MessageContent, ToChat, User, WhenMessagePosted);

            if ("@Model" != ToChat)
                return;

            var comment = `<li class="list-group-item">
                                <div class="d-flex message justify-content-between">
                                    <div class="username mr-5">
                                        <h5>${User}</h5>
                                    </div>
                                    <div class="message-content d-flex ">
                                        <h6 class="mr-2 pt-1">
                                            ${MessageContent}
                                        </h6>
                                        <h6 class='pt-1'>| ${WhenMessagePosted}</h6>
                                    </div>
                                </div>
                            </li>`

            $("#chat").append(comment);

        });

        connection.start().catch((err) => {
            console.log(err);
        });

        $("#submitMessage").click(() => {
            var groupChat = "@Model";
            var message = $("#message").val();

            var data = {
                message,
                groupChat
            };
            var url = '@Url.Action("Comment", "Home")';

            $("#message").val('');

            $.ajax({
                type: "POST",
                url,
                data,
                success: () => {
                    console.log("success");
                },
                error: () => {
                    alert("Something went wrong");
                }
            })
        });


    </script>
}
