﻿@model IList<string>
@{
    ViewData["Title"] = "Groups";
}

<div class="mt-5 d-flex align-items-center flex-column">
    <h1>Available Chat rooms</h1>

    <form asp-action="AddGroupChat">
        <div class="d-flex">
            <input name="groupChat"
                   class="form-control me-2" type="text"
                   placeholder="Chat name">
            <button class="btn btn-dark w-50 ml-2">Add room</button>
        </div>
    </form>
</div>




<div id="chatRooms" class="row">
    @foreach (var gc in Model)
    {
        <a id="@gc" class="btn btn-dark col-4 col-sm-2 m-2"
                asp-action="Group"
                asp-route-groupChat="@gc">
            @gc
        </a>
    }
</div>

@section Scripts {
    <script>

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("topic2ChatHub")
            .build();

        connection.on("GroupChat", (data) => {
            console.log(data);
            var url = `@Url.Action("Group", "Home")?groupChat=${data.replace(" ", '%20')}`;
            var button = `<a id="${data}" class="btn btn-dark col-4 col-sm-2 mt-2"
                            href=${url}>
                        ${data}
                        </a>`;
            $("#chatRooms").append(button);
        });

        connection.start().catch((err) => {
            console.log(err);
        });


    </script>

}



